# Data Preprocessing

In [1]:
import pandas as pd 
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
from datasets import load_dataset

In [22]:
df = pd.read_csv("D:/Hindi to English dataset/hindi_english_parallel.csv")
df.tail(20)

,hindi,english
1561821,"आप शीघ्र ही विधिक पेशे के कॉरपोरेट विधि,न्यायि...",You would soon join different branches of the ...
1561822,Y = धारा 143 की उपधारा (1) के खंड (क) के अधीन ...,Y = the amount of tax calculated on the total ...
1561823,"(म) ""वास्तविक और प्रथम आविष्कर्ता"" के अंतर्गत ...","(y) ""true and first inventor"" does not include..."
1561824,जाकिर साहब यह मानते थे कि जामिया बिरादरी के जह...,Zakir saheb conceded that this objective was s...
1561825,"(यक) ""विशेष आर्थिक जोन"" से धारा 3 की उपधारा (4...","(za) ""Special Economic Zone"" means each Specia..."
1561826,"(यग) ""यूनिट"" से किसी विशेष आर्थिक जोन में किसी...","(zc) ""Unit"" means a Unit set up by an entrepre..."
1561827,"(यछ) ""प्रतिभूति रसीद"" से कोर्इ रसीद या अन्य प्...","(zg) ""security receipt"" means a receipt or oth..."
1561828,जोनलः रू. 0.50 लाख के प्रत्येक वार्षिक पुरस्का...,Zonal: Eleven annual awards of ₹ 0.50 lakh eac...
1561829,इस्लाम से पहले करोड़ों लोगों के इस पारसी धर्म ...,"Zoroastrianism, which was once the religion of..."
1561830,"(य) ""प्रतिभूतिकरण"" से किसी प्रतिभूतिकरण कंपनी ...","(z) ""securitisation"" means acquisition of fina..."
1561831,राष्ट्रपति जी ने कहा कि जुबिन मेहता संगीत को श...,ZUBIN MEHTA HAS ENGAGED IN UNTIRING EFFORTS TO...
1561832,जुबिन मेहता के संगीत में सीमाओं के आर-पार पहुं...,Zubin Mehta’s music has the power to transcend...
1561833,"सितम्बर, 2014में दिल्ली में फिन-नोड केंद्र की ...",कते हैं। Opening of a Fin-Node Centre in Delhi...
1561834,भारत अपनी 64 प्रतिशत कार्यशील आयु समूह आबादी क...,"प्राप्त होगी। By 2020, India is set to become ..."
1561835,Members making oath/affirmation,शपथ लेने/प्रतिज्ञान करने वाले सदस्य
1561836,स्पष्टीकरण.–जहां इस उपधारा के अधीन हानि और लाभ...,स्पष्टीकरण.–जहां इस उपधारा के अधीन हानि और लाभ...
1561837,मैंने गौर किया है कि यह न केवल अपने महत्त्वपूर...,है। I note that this is a landmark meeting – n...
1561838,उन्होंने मेरे समक्ष जो प्रदर्शन किया उसमें से ...,है। In the presentations that they made before...
1561839,खाद्य और जल सुरक्षा; पर्यावरण की दृष्टि से वहन...,्त है। Issues such as food and water security;...
1561840,NaN,NaN

In [23]:
df.shape

(1561841, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561841 entries, 0 to 1561840
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   hindi    1555784 non-null  object
 1   english  1560964 non-null  object
dtypes: object(2)
memory usage: 23.8+ MB

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.isnull().sum()

hindi      6057
english     877
dtype: int64

In [8]:
hindi_words = defaultdict(int)

In [9]:
print(len(df))

1561841

In [10]:
df.describe().T

           count   unique         top  freq
hindi    1555784   983938        Name  1093
english  1560964  1015944  Your names   363

In [11]:
hindi_text = df.loc[0,'hindi']
print(hindi_text)

अपने अनुप्रयोग को पहुंचनीयता व्यायाम का लाभ दें

In [12]:
def replace_special_char(text):
    pattern = r'[!@#\$%^&*()_+{}\[\]:";<>,.?~\\|/-]+'
    cleaned_text = re.sub(pattern, ' ', text)
    cleaned_text = cleaned_text.strip()
    return cleaned_text

In [13]:
def contains_alphabet(word):
    for char in word:
        if char in 'abcdefghijklmnopqrstuvwxyz' or char in 'ABCDEFGHIJKLMNOPQLSTUVWXYZ' or char in "01123456789":
            return True
    return False

In [15]:
for i in range(len(df)):
    hindi_text = df.loc[i, 'hindi']
    if not pd.isna(hindi_text):
        words = hindi_text.split()
        for word in words:
            if word and word[0].isalpha() and word[0] != '(' and not contains_alphabet(word):
                clean_word = replace_special_char(word)
                hindi_words[clean_word] += 1

In [16]:
# def clean_sentence(sentences):
#     for i in range(len(sentences)):
#         hindi_text = df.loc[i, 'hindi']
#         words = hindi_text.split()
#         for word in words:

SyntaxError: incomplete input (2267080308.py, line 6)

In [17]:
hindi_words_df = pd.DataFrame(hindi_words.items(), columns=['Hindi_word', 'Frequency'])
print(hindi_words_df)

          Hindi_word  Frequency
0               अपने     124928
1          अनुप्रयोग       3945
2                 को     513225
3         पहुंचनीयता         96
4            व्यायाम        515
...              ...        ...
370601       है अनेक          1
370602         काँपी          1
370603  विधि न्यायिक          1
370604         जोनलः          1
370605     प्रोद्धरण          1

[370606 rows x 2 columns]

In [18]:
print(hindi_words_df.head())

   Hindi_word  Frequency
0        अपने     124928
1   अनुप्रयोग       3945
2          को     513225
3  पहुंचनीयता         96
4     व्यायाम        515

In [19]:
print(hindi_words_df.sort_values(by='Frequency', ascending=False).head())

   Hindi_word  Frequency
12         के    1155918
42         और     898132
28         है     823207
55        में     802409
20         की     681835

In [20]:
total_frequency  = hindi_words_df['Frequency'].sum()
print(f"Total Words {total_frequency}")

Total Words 33375767

In [25]:
print(df.isna().sum())
df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(columns=["index"], inplace=True)
df.shape

hindi      6057
english     877
dtype: int64

(1555574, 2)